<header class="text-center pt-3 pb-1 mb-1">
    <div class="position-absolute top-0 end-0">
        {{ include('_language.html.twig') }}
    </div>

    <a href="/" class="text-center text-dark text-decoration-none">
        <div class="fs-3">
            {{ app_name }}
        </div>
        <div class="fs-6 text-muted">
            {{ 'subtitle'|trans }}
        </div>
    </a>
</header>
