<header class="text-center pb-3 mb-4">
    <div class="position-absolute top-0 end-0">
        {{ include('_language.html.twig') }}
    </div>
    <a href="/" class="text-dark text-decoration-none">
        <div class="fs-4 text-center">
            <div>
                {{ app_name }}
            </div>
            <small class="text-muted">
                {{ 'subtitle'|trans }}
            </small>
        </div>
    </a>
</header>
