<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API documentation</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>📖</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <meta name="description" content="" />

</head>
<body>
<div class="container">
    <header>
        <h1>API documentation</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>

    </footer>
</div>
</body>
</html>
