{% extends 'api/_layout.html.twig' %}

{% block content %}

    // todo
    <p><code>[POST, GET] /api/address</code> - create a new Tron address</p>
    <p><code>[POST] /api/restore-address</code> - restore an old Tron address by "private_key"</p>

{% endblock %}
